%% This line tells emacs to use -*- erlang -*- mode for this file
%%{erl_opts, [debug_info]}.
{erl_opts, [warnings_as_errors]}.
{sub_dirs, ["drivers", "instrument_panel", "onboard_computer"]}.
{deps_dir, ["deps"]}.
{deps, [%% {wpi, ".*", {git, "git://github.com/klajo/wpi.git", ""}}
	{mockgyver, ".*", {git, "git://github.com/klajo/mockgyver.git", ""}}
       ]}.
{eunit_opts, [{dir, "./drivers"}, verbose]}.
